body{
    margin: 0 10rem;
    background-color: bisque;
}

.wrapper {
    background-color: aquamarine;
    color: rgb(53, 135, 207);
    border-radius: 3px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

}

p {
    font-size: large;
    font-weight: bold;

}

.info img {
    float: left;
    max-width: 150px;
    width: 100%;
    padding-bottom: 1.2px;
    padding-right: 13px;
    padding-top: 0px;
}


