body{
    margin: 0 10rem;
    background-color: bisque;
}

.wrapper {
    background-color: aquamarine;
    color: rgb(53, 135, 207);
    border-radius: 3px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

}

p {
    font-size: large;
    font-weight: bold;

}

.info img { /*Fix the image properties*/
    float: left;
    max-width: 150px;
    width: 100%;
    padding-bottom: 1.2px;
    padding-right: 13px;
    padding-top: 0px;
}


.info p { 
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    font-family: sans-serif;
}


.description {
    width: 100%;
    border-radius: 3px;
    padding-top: 1px;
    padding-left: 12px;
    padding-bottom: 3px;
    font-family: sans-serif;
}

.description .title { /*bold the title */
    font-weight: bolder;
    font-size: 1.32rem;
    padding-bottom: 2px;
    padding-top: 2px;
}

